// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

////////////////// 全局自定义的一些APP样式 //////////////////////

// 处理ion-refresher显示bug
.has-refresher > .scroll-content {
    // top: -1px !important;
    border: 0;
}

.toolbar-title-ios, .toolbar-title-md {
    font-weight: normal;
    color: #666;
}

// 自定义TabBar图标
.ion-ios-coupon:before {
    content: '';
    width: 40px;
    height: 40px;
    display: block;
    background: no-repeat url('../assets/imgs/icon_coupon_select.png');
}

.ion-ios-coupon-outline {
    content: '';
    width: 40px;
    height: 40px;
    display: block;
    background: no-repeat url('../assets/imgs/icon_coupon.png');
}

.ion-ios-callwater:before {
    content: '';
    width: 30px;
    height: 30px;
    display: block;
    background: no-repeat url('../assets/imgs/icon_callwater_select.png');
}

.ion-ios-callwater-outline {
    content: '';
    width: 30px;
    height: 30px;
    display: block;
    background: no-repeat url('../assets/imgs/icon_callwater.png');
}
