page-mobile {
    .item-block:first-child, .item-block:last-child {
        border: 0!important;
    }

    .item-block .item-inner {
        border-color: #e6e6e6!important;
    }

    .item-ios {
        font-size: 14px;
        // height: 60px;
        height: 50px;
    }

    .check-code-btn {
        height: 34px!important;
    }
}
