<!--
  Generated template for the DetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>详情</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <div class="base-info">
    <div class="images">
      <ion-slides *ngIf="item.images.length > 0" 
        [loop]="item.images.length > 1" 
        [pager]="item.images.length > 1" 
        autoplay="3000" 
        (ionSlideAutoplayStop)="autoPlay()">
        <ion-slide *ngFor="let image of item.images">
          <div class="banner-btn">
            <img [src]="image">
          </div>
        </ion-slide>
      </ion-slides>
    </div>
    <div class="info">
      <ion-row>
        <ion-col col-6>
          <span class="name">{{item.name}}</span>
        </ion-col>
        <ion-col col-6 style="text-align:right;">
          <span class="price">¥{{item.price}}</span>
          <span class="old-price">¥{{item.old_price}}</span>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <div class="gray-bar"></div>
  <div class="other-info">
    <h2>产品介绍</h2>
    <div class="body" [innerHTML]="item.body">

    </div>
  </div>
</ion-content>

<ion-footer>
  <div padding>
    <button ion-button block (click)="buy();">
      立即购买
    </button>
  </div>
</ion-footer>
